nifi/ProjectDataValidation.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>cbebe12a-0170-1000-b0e2-029cb56579bc</groupId>
    <name>ProjectDataValidation</name>
    <snippet>
        <processGroups>
            <id>44ad4395-ead8-3bec-0000-000000000000</id>
            <parentGroupId>13fade86-e419-32d9-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>c324956c-f1b8-3f79-0000-000000000000</id>
                    <parentGroupId>44ad4395-ead8-3bec-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>44ad4395-ead8-3bec-0000-000000000000</groupId>
                        <id>6480e317-98a6-3168-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>44ad4395-ead8-3bec-0000-000000000000</groupId>
                        <id>7a07ca11-7700-381f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f3007085-26ec-3dfe-0000-000000000000</id>
                    <parentGroupId>44ad4395-ead8-3bec-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>44ad4395-ead8-3bec-0000-000000000000</groupId>
                        <id>7a07ca11-7700-381f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>44ad4395-ead8-3bec-0000-000000000000</groupId>
                        <id>8d5aac64-0cf3-301c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>6480e317-98a6-3168-0000-000000000000</id>
                    <parentGroupId>44ad4395-ead8-3bec-0000-000000000000</parentGroupId>
                    <position>
                        <x>405.49998505944444</x>
                        <y>377.9990460593906</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>ValidationComplete</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'ValidationComplete'' is invalid because Port has no outgoing connections</validationErrors>
                </outputPorts>
                <processors>
                    <id>7a07ca11-7700-381f-0000-000000000000</id>
                    <parentGroupId>44ad4395-ead8-3bec-0000-000000000000</parentGroupId>
                    <position>
                        <x>349.49998505944444</x>
                        <y>145.99904605939057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.1</key>
<value>
    <name>command.argument.1</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.2</key>
<value>
    <name>command.argument.2</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Dynamic Property Arguments</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>#{CustomScriptsDirectory}/validate_project_data.py</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>#{ProjectFolderPath}/${ProjectFolderLoc}</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>ProjectDataValidationOutput</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                            <entry>
<key>command.argument.1</key>
<value>${ProjectFolderLoc}/</value>
                            </entry>
                            <entry>
<key>command.argument.2</key>
<value>#{ProjectFolderPath}/</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ValidateProjectDataExecuteStreamCommand</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>8d5aac64-0cf3-301c-0000-000000000000</id>
                    <parentGroupId>44ad4395-ead8-3bec-0000-000000000000</parentGroupId>
                    <position>
                        <x>349.49998505944444</x>
                        <y>-78.00095394060943</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Base Path</key>
<value>
    <name>Base Path</name>
</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
<value>
    <name>Max Data to Receive per Second</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>
    <name>Authorized DN Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>
    <name>Max Unconfirmed Flowfile Time</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
<value>
    <name>HTTP Headers to receive as Attributes (Regex)</name>
</value>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>
    <name>Return Code</name>
</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>
    <name>multipart-request-max-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>
    <name>multipart-read-buffer-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Base Path</key>
<value>contentListener</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>8081</value>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
<value>ProjectFolderLoc</value>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>512 KB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListenHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                </processors>
            </contents>
            <name>ProjectDataValidation</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>04/28/2020 17:31:30 UTC</timestamp>
</template>
