nifi/SDD-RP-StagingZone.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Parameterized email fields</description>
    <groupId>159e00e7-0170-1000-d918-f1fb9234b88e</groupId>
    <name>SDD-RP-StagingZone-v1.5</name>
    <snippet>
        <connections>
            <id>0282bb94-9575-3ba7-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>89ae3623-1de7-3cea-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>expired</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>6c28b3ff-6aa6-3b11-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>108d4b2d-8351-38f7-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>6c28b3ff-6aa6-3b11-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>ae64b899-8e68-396c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1ff70fc0-a9e7-3753-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>5ac78880-6cd0-338e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>6c28b3ff-6aa6-3b11-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>20ff7d54-e472-3343-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>0515dafc-3603-37db-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>dcd2a838-f6b4-358a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>34d594c2-9831-38f7-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>52ca31c5-a183-32ea-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c7a66355-955d-3fb9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>34ff4e7e-899d-3839-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>6c28b3ff-6aa6-3b11-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c7a66355-955d-3fb9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5a849427-012e-3145-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>efaf7c77-d01f-3abc-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>1846a0be-918e-384f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5c93a721-47b8-3454-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c7a66355-955d-3fb9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>96521f70-97a2-3a0a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>87e488b1-a844-302c-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>96521f70-97a2-3a0a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c580a5ba-e1c1-3d66-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9adc60bf-6fef-3251-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>ae64b899-8e68-396c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>efaf7c77-d01f-3abc-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9d1d16c8-088b-3994-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>2397.5751395126126</x>
                <y>628.6867953741616</y>
            </bends>
            <bends>
                <x>2397.5751395126126</x>
                <y>678.6867953741616</y>
            </bends>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>6c28b3ff-6aa6-3b11-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>wait</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>6c28b3ff-6aa6-3b11-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a4710a44-dd37-39fc-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>cf643bde-89a4-32a9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c0ffe4b9-d8d8-3c44-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a8cc83bd-f8fd-3ee5-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>96521f70-97a2-3a0a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c9759ec9-3731-3c04-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b3115589-e802-3b08-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c0ffe4b9-d8d8-3c44-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>01c20e54-fce4-3f08-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c95989c1-7800-3c64-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c1200f95-8b22-3a87-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>IsCorrectlyFormatted</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>dcd2a838-f6b4-358a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d0c0c536-c3da-3a19-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>dcd2a838-f6b4-358a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c0ffe4b9-d8d8-3c44-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d6ff9cac-b929-3ecf-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>c0ffe4b9-d8d8-3c44-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>7ce5c77d-e0bb-32f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e0c84b45-b8e0-35ae-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>89fa475f-1a94-39b6-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>5ac78880-6cd0-338e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f7417cac-5676-3bb1-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>ae64b899-8e68-396c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Is7zip</selectedRelationships>
            <selectedRelationships>IsGPG</selectedRelationships>
            <selectedRelationships>IsZip</selectedRelationships>
            <source>
                <groupId>1c48a9a9-4e7d-3555-0000-000000000000</groupId>
                <id>96521f70-97a2-3a0a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>9548cefd-be72-3842-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-distributed-cache-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Server Hostname</key>
                    <value>
                        <name>Server Hostname</name>
                    </value>
                </entry>
                <entry>
                    <key>Server Port</key>
                    <value>
                        <name>Server Port</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Communications Timeout</key>
                    <value>
                        <name>Communications Timeout</name>
                    </value>
                </entry>
            </descriptors>
            <name>DistributedMapCacheClientService9</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Server Hostname</key>
                    <value>localhost</value>
                </entry>
                <entry>
                    <key>Server Port</key>
                    <value>4557</value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
        </controllerServices>
        <labels>
            <id>5f2ad0e4-859c-3d5a-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>1880.0</x>
                <y>568.0</y>
            </position>
            <height>184.0</height>
            <label>Hold data/template files until an email is received with a matching data file name</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>488.0</width>
        </labels>
        <labels>
            <id>85ae308a-ab8c-385a-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>824.0</y>
            </position>
            <height>536.0</height>
            <label>Listen for new data/template files.  </label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>1912.0</width>
        </labels>
        <labels>
            <id>a01c2fac-4af4-3377-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <height>576.0</height>
            <label>Listen for internal template email.  Only trigger data files listed to be moved to the secure zone.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>1840.0</width>
        </labels>
        <labels>
            <id>b9a3a04f-c30c-374d-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>624.0</y>
            </position>
            <height>184.0</height>
            <label>Listen for SFTP files. </label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>1064.0</width>
        </labels>
        <outputPorts>
            <id>89fa475f-1a94-39b6-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>2584.0</x>
                <y>888.0</y>
            </position>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>ToRedZone</name>
            <state>STOPPED</state>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
            <id>01c20e54-fce4-3f08-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>32.0</x>
                <y>248.0</y>
            </position>
            <bundle>
                <artifact>nifi-email-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>SMTP_PORT</key>
                        <value>
                            <name>SMTP_PORT</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP_MAXIMUM_CONNECTIONS</key>
                        <value>
                            <name>SMTP_MAXIMUM_CONNECTIONS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP_TIMEOUT</key>
                        <value>
                            <name>SMTP_TIMEOUT</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP_MAXIMUM_MSG_SIZE</key>
                        <value>
                            <name>SMTP_MAXIMUM_MSG_SIZE</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL_CONTEXT_SERVICE</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                            <name>SSL_CONTEXT_SERVICE</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CLIENT_AUTH</key>
                        <value>
                            <name>CLIENT_AUTH</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP_HOSTNAME</key>
                        <value>
                            <name>SMTP_HOSTNAME</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>SMTP_PORT</key>
                        <value>#{SMTP Listening Port}</value>
                    </entry>
                    <entry>
                        <key>SMTP_MAXIMUM_CONNECTIONS</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>SMTP_TIMEOUT</key>
                        <value>60 seconds</value>
                    </entry>
                    <entry>
                        <key>SMTP_MAXIMUM_MSG_SIZE</key>
                        <value>20 MB</value>
                    </entry>
                    <entry>
                        <key>SSL_CONTEXT_SERVICE</key>
                    </entry>
                    <entry>
                        <key>CLIENT_AUTH</key>
                    </entry>
                    <entry>
                        <key>SMTP_HOSTNAME</key>
                        <value>#{SMTP hostname}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ListenSMTP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processors.email.ListenSMTP</type>
        </processors>
        <processors>
            <id>0515dafc-3603-37db-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>1424.0</x>
                <y>64.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>
                            <name>SMTP Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>
                            <name>SMTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>
                            <name>SMTP Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                        <value>
                            <name>SMTP Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>
                            <name>SMTP Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>
                            <name>SMTP TLS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>
                            <name>SMTP Socket Factory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>
                            <name>SMTP X-Mailer Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>
                            <name>From</name>
                        </value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>
                            <name>To</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CC</key>
                        <value>
                            <name>CC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>BCC</key>
                        <value>
                            <name>BCC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>
                            <name>Subject</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message</key>
                        <value>
                            <name>Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>
                            <name>email-ff-content-as-message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>
                            <name>Attach File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>
                            <name>Include All Attributes In Message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>#{SMTP hostname}</value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>#{SMTP Port}</value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>javax.net.ssl.SSLSocketFactory</value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>NiFi</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>text/plain</value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>#{SMTPFromName}</value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>#{TemplateFieldsMisformattedEmailToNotify}</value>
                    </entry>
                    <entry>
                        <key>CC</key>
                    </entry>
                    <entry>
                        <key>BCC</key>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>#{TemplateFieldsMisformattedEmailSubject}</value>
                    </entry>
                    <entry>
                        <key>Message</key>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>NotifyOfMisFormattedEmail</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#0dfcf4</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.PutEmail</type>
        </processors>
        <processors>
            <id>1846a0be-918e-384f-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>80.0</x>
                <y>664.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hostname</key>
                        <value>
                            <name>Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>
                            <name>Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Private Key Path</key>
                        <value>
                            <name>Private Key Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Private Key Passphrase</key>
                        <value>
                            <name>Private Key Passphrase</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Path</key>
                        <value>
                            <name>Remote Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter Regex</key>
                        <value>
                            <name>File Filter Regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter Regex</key>
                        <value>
                            <name>Path Filter Regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Search Recursively</key>
                        <value>
                            <name>Search Recursively</name>
                        </value>
                    </entry>
                    <entry>
                        <key>follow-symlink</key>
                        <value>
                            <name>follow-symlink</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Dotted Files</key>
                        <value>
                            <name>Ignore Dotted Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delete Original</key>
                        <value>
                            <name>Delete Original</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Selects</key>
                        <value>
                            <name>Max Selects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Poll Batch Size</key>
                        <value>
                            <name>Remote Poll Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Strict Host Key Checking</key>
                        <value>
                            <name>Strict Host Key Checking</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Send Keep Alive On Timeout</key>
                        <value>
                            <name>Send Keep Alive On Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Compression</key>
                        <value>
                            <name>Use Compression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Natural Ordering</key>
                        <value>
                            <name>Use Natural Ordering</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Http Proxy Username</key>
                        <value>
                            <name>Http Proxy Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Http Proxy Password</key>
                        <value>
                            <name>Http Proxy Password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hostname</key>
                        <value>#{SFTPHostname}</value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>#{SFTPUsername}</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Private Key Path</key>
                    </entry>
                    <entry>
                        <key>Private Key Passphrase</key>
                    </entry>
                    <entry>
                        <key>Remote Path</key>
                    </entry>
                    <entry>
                        <key>File Filter Regex</key>
                    </entry>
                    <entry>
                        <key>Path Filter Regex</key>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>60 sec</value>
                    </entry>
                    <entry>
                        <key>Search Recursively</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>follow-symlink</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Ignore Dotted Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Delete Original</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                    <entry>
                        <key>Max Selects</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Remote Poll Batch Size</key>
                        <value>5000</value>
                    </entry>
                    <entry>
                        <key>Strict Host Key Checking</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Send Keep Alive On Timeout</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Compression</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Use Natural Ordering</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>DIRECT</value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Http Proxy Username</key>
                    </entry>
                    <entry>
                        <key>Http Proxy Password</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetSFTP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetSFTP</type>
        </processors>
        <processors>
            <id>52ca31c5-a183-32ea-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>1512.0</x>
                <y>1208.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>
                            <name>SMTP Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>
                            <name>SMTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>
                            <name>SMTP Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                        <value>
                            <name>SMTP Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>
                            <name>SMTP Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>
                            <name>SMTP TLS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>
                            <name>SMTP Socket Factory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>
                            <name>SMTP X-Mailer Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>
                            <name>From</name>
                        </value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>
                            <name>To</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CC</key>
                        <value>
                            <name>CC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>BCC</key>
                        <value>
                            <name>BCC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>
                            <name>Subject</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message</key>
                        <value>
                            <name>Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>
                            <name>email-ff-content-as-message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>
                            <name>Attach File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>
                            <name>Include All Attributes In Message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>#{SMTP hostname}</value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>#{SMTP Port}</value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>javax.net.ssl.SSLSocketFactory</value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>NiFi</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>text/plain</value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>#{SMTPFromName}</value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>#{TemplateFieldsMisformattedEmailToNotify}</value>
                    </entry>
                    <entry>
                        <key>CC</key>
                    </entry>
                    <entry>
                        <key>BCC</key>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>#{TemplateFieldsMisformattedEmailSubject}</value>
                    </entry>
                    <entry>
                        <key>Message</key>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>NotifyOfMisFormattedTemplateFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#0dfcf4</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.PutEmail</type>
        </processors>
        <processors>
            <id>5ac78880-6cd0-338e-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>1984.0</x>
                <y>904.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File to Fetch</key>
                        <value>
                            <name>File to Fetch</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>
                            <name>Completion Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                        <value>
                            <name>Move Destination Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Conflict Strategy</key>
                        <value>
                            <name>Move Conflict Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log level when file not found</key>
                        <value>
                            <name>Log level when file not found</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log level when permission denied</key>
                        <value>
                            <name>Log level when permission denied</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File to Fetch</key>
                        <value>${absolute.path}/${filename}</value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>#{Fetch File Completion Strategy}</value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                    </entry>
                    <entry>
                        <key>Move Conflict Strategy</key>
                        <value>Rename</value>
                    </entry>
                    <entry>
                        <key>Log level when file not found</key>
                        <value>ERROR</value>
                    </entry>
                    <entry>
                        <key>Log level when permission denied</key>
                        <value>ERROR</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>FetchFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>not.found</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>permission.denied</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.FetchFile</type>
        </processors>
        <processors>
            <id>6c28b3ff-6aa6-3b11-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>1920.0</x>
                <y>600.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>release-signal-id</key>
                        <value>
                            <name>release-signal-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-signal-count</key>
                        <value>
                            <name>target-signal-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>signal-counter-name</key>
                        <value>
                            <name>signal-counter-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-buffer-count</key>
                        <value>
                            <name>wait-buffer-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>releasable-flowfile-count</key>
                        <value>
                            <name>releasable-flowfile-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>expiration-duration</key>
                        <value>
                            <name>expiration-duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>distributed-cache-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                            <name>distributed-cache-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-copy-mode</key>
                        <value>
                            <name>attribute-copy-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-mode</key>
                        <value>
                            <name>wait-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-penalty-duration</key>
                        <value>
                            <name>wait-penalty-duration</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>release-signal-id</key>
                        <value>${DataFileName}</value>
                    </entry>
                    <entry>
                        <key>target-signal-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>signal-counter-name</key>
                    </entry>
                    <entry>
                        <key>wait-buffer-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>releasable-flowfile-count</key>
                        <value>${IsSFTPTransfer:equals('true'):ifElse(1,2)}</value>
                    </entry>
                    <entry>
                        <key>expiration-duration</key>
                        <value>24 hr</value>
                    </entry>
                    <entry>
                        <key>distributed-cache-service</key>
                        <value>9548cefd-be72-3842-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>attribute-copy-mode</key>
                        <value>keeporiginal</value>
                    </entry>
                    <entry>
                        <key>wait-mode</key>
                        <value>keep</value>
                    </entry>
                    <entry>
                        <key>wait-penalty-duration</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Wait</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>expired</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>wait</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.Wait</type>
        </processors>
        <processors>
            <id>7ce5c77d-e0bb-32f1-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>24.0</x>
                <y>408.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>#{Email Test Input Directory}</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>60 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
            <id>89ae3623-1de7-3cea-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>2112.0</x>
                <y>328.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>
                            <name>SMTP Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>
                            <name>SMTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>
                            <name>SMTP Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                        <value>
                            <name>SMTP Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>
                            <name>SMTP Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>
                            <name>SMTP TLS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>
                            <name>SMTP Socket Factory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>
                            <name>SMTP X-Mailer Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>
                            <name>From</name>
                        </value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>
                            <name>To</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CC</key>
                        <value>
                            <name>CC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>BCC</key>
                        <value>
                            <name>BCC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>
                            <name>Subject</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message</key>
                        <value>
                            <name>Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>
                            <name>email-ff-content-as-message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>
                            <name>Attach File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>
                            <name>Include All Attributes In Message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>#{SMTP hostname}</value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>#{SMTP Port}</value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>javax.net.ssl.SSLSocketFactory</value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>NiFi</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>text/plain</value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>#{SMTPFromName}</value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>#{DataFileWaitExpiredEmailToNotify}</value>
                    </entry>
                    <entry>
                        <key>CC</key>
                    </entry>
                    <entry>
                        <key>BCC</key>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>#{DataFileWaitExpiredEmailSubject}</value>
                    </entry>
                    <entry>
                        <key>Message</key>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DataFileExpiredEmail</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#0dfcf4</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.PutEmail</type>
        </processors>
        <processors>
            <id>96521f70-97a2-3a0a-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>880.0</x>
                <y>984.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Is7zip</key>
                        <value>
                            <name>Is7zip</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IsGPG</key>
                        <value>
                            <name>IsGPG</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IsZip</key>
                        <value>
                            <name>IsZip</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>Is7zip</key>
                        <value>${filename:endsWith('.7z'):or(${filename:endsWith('.7Z')})}</value>
                    </entry>
                    <entry>
                        <key>IsGPG</key>
                        <value>${filename:endsWith('.gpg'):or(${filename:endsWith('.GPG')})}</value>
                    </entry>
                    <entry>
                        <key>IsZip</key>
                        <value>${filename:endsWith('.zip'):or(${filename:endsWith('.ZIP')})}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Is7zip</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>IsGPG</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>IsZip</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>ae64b899-8e68-396c-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>1192.0</x>
                <y>616.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>DataFileName</key>
                        <value>
                            <name>DataFileName</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>DataFileName</key>
                        <value>${filename}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>StoreFileNameUpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>c0ffe4b9-d8d8-3c44-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>672.0</x>
                <y>352.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>DataDateStamp</key>
                        <value>
                            <name>DataDateStamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>DataFileName</key>
                        <value>
                            <name>DataFileName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>EncryptionKey</key>
                        <value>
                            <name>EncryptionKey</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Notes</key>
                        <value>
                            <name>Notes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OriginalFileName</key>
                        <value>
                            <name>OriginalFileName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SendingUser</key>
                        <value>
                            <name>SendingUser</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>DataDateStamp</key>
                        <value>Date: ([^\r\n]+)</value>
                    </entry>
                    <entry>
                        <key>DataFileName</key>
                        <value>Filename: ([a-zA-Z0-9\._]+)</value>
                    </entry>
                    <entry>
                        <key>EncryptionKey</key>
                        <value>Encryption Key: ([^\r\n]+)</value>
                    </entry>
                    <entry>
                        <key>Notes</key>
                        <value>Notes: ([^\r\n]+)</value>
                    </entry>
                    <entry>
                        <key>OriginalFileName</key>
                        <value>\(mv '.*' '(.*)'\)</value>
                    </entry>
                    <entry>
                        <key>SendingUser</key>
                        <value>User: ([^\r\n]+)</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExtractText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>c1200f95-8b22-3a87-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>1448.0</x>
                <y>336.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>release-signal-id</key>
                        <value>
                            <name>release-signal-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>signal-counter-name</key>
                        <value>
                            <name>signal-counter-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>signal-counter-delta</key>
                        <value>
                            <name>signal-counter-delta</name>
                        </value>
                    </entry>
                    <entry>
                        <key>signal-buffer-count</key>
                        <value>
                            <name>signal-buffer-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>distributed-cache-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                            <name>distributed-cache-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-cache-regex</key>
                        <value>
                            <name>attribute-cache-regex</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>release-signal-id</key>
                        <value>${DataFileName}</value>
                    </entry>
                    <entry>
                        <key>signal-counter-name</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>signal-counter-delta</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>signal-buffer-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>distributed-cache-service</key>
                        <value>9548cefd-be72-3842-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>attribute-cache-regex</key>
                        <value>EncryptionKey|SendingUser|DataDateStamp|OriginalFileName|Notes</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Notify</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.Notify</type>
        </processors>
        <processors>
            <id>c580a5ba-e1c1-3d66-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>48.0</x>
                <y>848.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>#{Yellow Zone Record Processing Input Directory}</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>60 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
            <id>c7a66355-955d-3fb9-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>1520.0</x>
                <y>992.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>DataFileName</key>
                        <value>
                            <name>DataFileName</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>DataFileName</key>
                        <value>Filename: ([a-zA-Z0-9\._]+)</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>TemplateFileExtractText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>c9759ec9-3731-3c04-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>56.0</x>
                <y>1000.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>listing-strategy</key>
                        <value>
                            <name>listing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>
                            <name>Input Directory Location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>
                            <name>Include File Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>
                            <name>target-system-timestamp-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                            <name>et-state-cache</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>
                            <name>et-time-window</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>
                            <name>et-initial-listing-target</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>
                            <name>et-node-identifier</name>
                        </value>
                    </entry>
                    <entry>
                        <key>track-performance</key>
                        <value>
                            <name>track-performance</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-performance-metrics</key>
                        <value>
                            <name>max-performance-metrics</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-operation-time</key>
                        <value>
                            <name>max-operation-time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-listing-time</key>
                        <value>
                            <name>max-listing-time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>#{Yellow Zone Record Processing Input Directory}</value>
                    </entry>
                    <entry>
                        <key>listing-strategy</key>
                        <value>timestamps</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>Local</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>3 hours</value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>all</value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>${hostname()}</value>
                    </entry>
                    <entry>
                        <key>track-performance</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>max-performance-metrics</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>max-operation-time</key>
                        <value>10 secs</value>
                    </entry>
                    <entry>
                        <key>max-listing-time</key>
                        <value>3 mins</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ListFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListFile</type>
        </processors>
        <processors>
            <id>cf643bde-89a4-32a9-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>328.0</x>
                <y>56.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>
                            <name>SMTP Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>
                            <name>SMTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>
                            <name>SMTP Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                        <value>
                            <name>SMTP Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>
                            <name>SMTP Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>
                            <name>SMTP TLS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>
                            <name>SMTP Socket Factory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>
                            <name>SMTP X-Mailer Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>
                            <name>From</name>
                        </value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>
                            <name>To</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CC</key>
                        <value>
                            <name>CC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>BCC</key>
                        <value>
                            <name>BCC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>
                            <name>Subject</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message</key>
                        <value>
                            <name>Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>
                            <name>email-ff-content-as-message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>
                            <name>Attach File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>
                            <name>Include All Attributes In Message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>#{SMTP hostname}</value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>#{SMTP Port}</value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>javax.net.ssl.SSLSocketFactory</value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>NiFi</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>text/plain</value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>#{SMTPFromName}</value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>#{TemplateFieldsSuccessfullyExtractedEmailToNotify}</value>
                    </entry>
                    <entry>
                        <key>CC</key>
                    </entry>
                    <entry>
                        <key>BCC</key>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>#{TemplateFieldsSuccessfullyExtractedEmailSubject}</value>
                    </entry>
                    <entry>
                        <key>Message</key>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>TemplateFieldsSuccessfullyCapturedEmail</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutEmail</type>
        </processors>
        <processors>
            <id>dcd2a838-f6b4-358a-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>776.0</x>
                <y>64.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IsCorrectlyFormatted</key>
                        <value>
                            <name>IsCorrectlyFormatted</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>IsCorrectlyFormatted</key>
                        <value>${allMatchingAttributes("DataDateStamp|DataFileName|SendingUser|EncryptionKey"):notNull()}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>IsCorrectlyFormatted</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>efaf7c77-d01f-3abc-0000-000000000000</id>
            <parentGroupId>1c48a9a9-4e7d-3555-0000-000000000000</parentGroupId>
            <position>
                <x>568.0</x>
                <y>648.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IsSFTPTransfer</key>
                        <value>
                            <name>IsSFTPTransfer</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>IsSFTPTransfer</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MarkAsAnSFTPTransferUpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
    </snippet>
    <timestamp>02/06/2020 11:30:48 UTC</timestamp>
</template>
